.burgerNav {
    grid-area: burgerNav;
    height: 40%;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 3;
}

.burgerImg {
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
}

.menu {
    background-color: #153b15;
    opacity: 0.95;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.3s;
}

.menu.active {
    transform: translateX(0);
    overflow-y: hidden;
}

.blur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    transition: all 0.4s;
}

@media only screen and (min-width: 480px) {
    .burgerNav {
       display: none;
    }
}