.users {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(4, 180px);
    justify-content: center;
    align-items: center;
    background-color: #cbac64;
    border: 1px solid black;
    margin: 20px;
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .users {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 180px);
        margin: 3px;
    }
    .paginator {
        margin-top: 50px;
    }
}
