.usersContainer {
    margin: 20px;
    height: 100vh;
}

@media only screen and (max-width: 480px) and (min-width: 0px)  {
.usersContainer {
    display: flex;
    justify-content: center;
    margin: 0;
}
}