.pageNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pageNotFound img {
    display: inline-block;
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
    .pageNotFound {
        align-items: flex-start;
        height: 100vh;
    }

    .pageNotFound img {
        width: 300px;
        height: 300px;
    }
}