.formControl input, textarea {
    width: 95%;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #050505;
}

.formControl input[type='checkbox'] {
    margin-left: 0;
    margin-bottom: 25px;
    height: 14px;
    width: 14px;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid #ff003b;
    background: #ecafbd;
}

.formControl.error span {
    color: #944a5c;
    font-weight: bolder;
    font-size: 14px;
}

.formSummaryError {
    border: 1px red solid;
    padding: 5px;
    color: #0c0c0c;
    margin-bottom: 10px;
}

.errorSpan {
    height: 15px;
    margin-bottom: 5px;
}