.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid #ff003b;
    background: #ecafbd;
}

.formControl.error span {
    color: #ff003b;
}

.formSummaryError {
    border: 1px red solid;
    padding: 5px;
    color: red;

}