.formControl input, textarea {
    width: 250px;
    margin-bottom: 20px;
}

.formControl input[type='checkbox'] {
    margin: 0;
    width: 14px;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid #ff003b;
    background: #ecafbd;
}

.formControl.error span {
    color: #ff003b;
}

.formSummaryError {
    border: 1px red solid;
    padding: 5px;
    color: #0c0c0c;
    background-color: #cea952;
}