.appWrapper {
    display: grid;
    grid-template-areas:
  "head head"
  "nav content";
    grid-template-rows: 80px;
    grid-template-columns: 180px 10fr;
    font-family: 'Courier', monospace;
    height: 100vh;

}

.appWrapperContent {
    position: relative;
    grid-area: content;
    background-color: #bd4c4c;
    padding-bottom: 40px;
}