.header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #064a90;
}

.header img {
    width: 70px;
}

.title {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.headerBlockImg {
    margin: 10px;
    display: inline-block;
}

.headerBlockSpan {
    display: inline-block;
    margin-top: 5px;
    padding: 20px;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.loginBlock a {
    text-decoration: none;
    color: #bd4c4c;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.loginBlock button {
    background-color: #bc4c4c;
    margin-left: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .header {
        justify-content: space-around;
    }
    .headerBlockImg {
        margin-left: -10px;
    }
    .loginBlock button {
        margin-left: 2px;
        margin-right: 1px;
    }
    .loginBlock {
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 15px;
        padding: 3px;
    }
}