.header {
    grid-area: head;
    background-color: #064a90;
}

.header img {
    width: 80px;
}

.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.headerBlockImg {
    display: inline-block;
}

.headerBlockSpan {
    position: absolute;
    display: inline-block;
    margin-left: 50%;
    margin-top: 5px;
    padding: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color: #bd4c4c;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}