.nav {
    grid-area: nav;
    background-color: #153b15;
    padding: 10px;
}

.item a {
    display: inline-block;
    color: #82c5ec;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px
}

.item a.activeLink {
    color: #cbac64;
}

