.nav {
    grid-area: nav;
    background-color: #153b15;
    padding: 10px 0 10px 0;
}


@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .nav {
        display: none;
    }
}


