.nav {
    grid-area: nav;
    background-color: #153b15;
    padding: 10px;
}

/*.itemNone {*/
/*    !*display: none;*!*/
/*    height: 0;*/
/*    opacity: 0;*/
/*    transition: 1s line-height;*/
/*}*/

@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .nav {
        display: none;
    }
}


