.videoPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.videoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 350px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #cbac64;
    border: 2px solid black;
}

.video {
    border: 2px solid black;
    margin: 10px;
    height: 300px;
}

@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .videoPage {
        display: flex;
        /*justify-content: flex-start;*/
        align-items: center;
        margin-bottom: 10px;
    }

    .videoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}