.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cbac64;
    border: 2px solid black;
    width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.checkboxField {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rememberMe {
    margin-bottom: 3px;
    font-weight: bolder
}

.error {
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (max-width: 480px) and (min-width: 0px)  {
    .loginForm {
        margin-top: 50px;
        width: 95%;
    }
}

