.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    background-color: #cbac64;
}

.dialogsItems .dialog {
    padding: 0 10px 0 0;
}

.active {
    color: #f3efe9;
}

.dialogsItems img {
    width: 60px;
    height: 60px;
    margin: 10px 20px 20px 20px;
}

.users {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.messagesAndInput {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    overflow-y: scroll;
    background-color: #9d9999;
    height: 80vh;
    padding: 10px;
}

@media only screen and (max-width: 1260px) and (min-width: 480px) {
    .message {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
    .dialogs {
        margin-top: 20px;
    }

    .dialogsItems {
        padding-bottom: 10px;
    }

    .message {
      height: 85vh;
    }

    .users {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .messagesAndInput {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}






