.appwrapper {
    display: grid;

    grid-template-areas:
  "head head"
  "nav content";
    grid-template-rows: 80px 100vh;
    grid-template-columns: 180px 10fr;
    font-family: 'Courier', monospace;
}

.appWrapperContent {
   grid-area: content;
    background-color: #bd4c4c;
}