.messageBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 20px;
}

.messageBlockUser {
    flex-direction: row-reverse;
}

.messageUser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(21, 59, 21, 0.8);
    min-height: 80px;
    max-height: 100%;
    padding: 10px;
    width: 260px;
    border-radius: 5px 5px 0 5px;
}

.messageImg {
    background-color: rgba(21, 59, 21, 0.8);
    min-height: 80px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    width: 260px;
    border-radius: 5px 5px 5px 0;
}

.corner {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(21, 59, 21, 0.8) 0);
}

.cornerUser {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 15px 0px, rgba(0, 0, 0, 0) 15px, rgba(21, 59, 21, 0.8) 0);
}

.time {
    color: #bc4c4c;
    font-weight: bold;
}

.textMessage {
    max-width: 200px;
    word-wrap: break-word;
    color: #82c5ec;
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
    .messageImg {
        width: 90%;
        display: flex;
    }
    .time {
        top: 5px;
    }
    .messageUser {
        width: 90%;
    }
}