.message {
    color: #16f116;
}

.messageUser {
    margin: 20px 20px 20px 400px;
    display: block;
    background-color: rgb(21, 59, 21, 0.8);
    min-height: 80px;
    max-height: 100%;
    display: grid;
    grid-template-columns: 200px 50px;
    width: 260px;
    border-radius: 5px 5px 0px 5px;
}

.messageImg {
    display: block;
    margin: 20px;
    background-color: rgb(21, 59, 21, 0.8);
    min-height: 80px;
    max-height: 100%;
    display: grid;
    grid-template-columns: 200px 50px;
    width: 260px;
    border-radius: 5px 5px 5px 0px;
}

.corner {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(21, 59, 21, 0.8) 0);
    position: relative;
    left: -15px;
    bottom: -65px;
}

.cornerUser {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 15px 0px, rgba(0, 0, 0, 0) 15px, rgba(21, 59, 21, 0.8) 0);
    position: relative;
    left: 260px;
    bottom: -65px;
}


.time {
    position: relative;
    top: 55px;
    left: 5px;
    color: #bc4c4c;
    /*position: absolute;*/
    /*left: 5px;*/
    /*bottom: 5px;*/
    font-weight: bold;

}

.textMessage {
    position: relative;
    bottom: 10px;
    margin: 5px;
    max-width: 200px;
    word-wrap: break-word;
    color: #82c5ec;

}